[project]
	description = Initial MySalesForce
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raymundgcaga
[access "refs/for/refs/*"]
	read = group user/raymundgcaga
	push = group user/raymundgcaga
	label-Code-Review = -2..+2 group user/raymundgcaga
	label-Verified = -1..+1 group user/raymundgcaga
	rebase = group user/raymundgcaga
	removeReviewer = group user/raymundgcaga
	submit = group user/raymundgcaga
[access "refs/heads/*"]
	read = group user/raymundgcaga
	create = group user/raymundgcaga
	push = +force group user/raymundgcaga
	pushMerge = group user/raymundgcaga
[access "refs/tags/*"]
	push = group user/raymundgcaga
	push = +force group user/raymundgcaga
